//assets
@import "../public/assets/css/styles.css";
@import "../public/assets/scss/variables";
@import '../node_modules/leaflet/dist/leaflet.css';
/* React-notifications */
@import "~react-toastify/dist/ReactToastify.css";
@import "react-datepicker/dist/react-datepicker.css";
@import "filepond/dist/filepond.min.css";
/* react-slick */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
//simonwep colorpicker
@import "@simonwep/pickr/dist/themes/classic.min.css"; // 'classic' theme
@import "@simonwep/pickr/dist/themes/monolith.min.css"; // 'monolith' theme
@import "@simonwep/pickr/dist/themes/nano.min.css"; // 'nano' theme
// @import "../public/assets/css/icons.css";
@import "../public/assets/scss/switcher";
@import 'react-quill/dist/quill.snow.css'; //  (Quill styles)
@import 'simplebar-react/dist/simplebar.min.css';


.cursour{
    cursor: pointer !important;;
}
p.dot::after {
    content: ' ';
    position: absolute;
    width: 6px;
    height: 6px;
    background: gray;
    border-radius: 20px;
    right: -15px;
    top: 6px;
}
.details{
    width: 125px !important;
}
.decoration{
    text-decoration: underline !important;
}
.accordian-title .accordion-button{
    background-color: #e2e0f3; 
}

.accordian-title .accordion-button {
    color: black;
}

.accordian-title .accordion-button:hover {
    background-color: #6390CA;
    cursor: pointer;
    color: white
}

 .accordian-title .accordion-button:after {
  display: none;
 }

 .custom-offcanvas-width {
  width: 40% !important;
 }

 .accordian-title .collapsed {
    background-color: #eaedf7;
 }